@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("./dark-forest.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    
    
}
.Logo{
    color: #fff;
    user-select: none;
    font-size: 2em;
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    background: #fff;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform.5s;
    

}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1)
}
.navigation .btn{
        width: 130px;
        height: 50px;
        border: 2px solid #fff;
        background: transparent;
        color: #fff;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 500;
        margin-left: 40px;
        transition: .5s;
}

.navigation .btn:hover{
    color: #162938;
    background: #fff;

}
.wrapper{
    position: relative;
    height: 440px;
    width: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter:blur(30px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition:transform .5s ease, height .2s ease;
    
}
.wrapper.active-popup{
    transform:scale(1)
}
.wrapper.active{
    height: 520px;
}
.span-icon{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px ;
    z-index: 1;
    cursor:pointer;
    
}
.wrapper .main-form{
    width: 100%;
    padding: 20px;
    
}
.wrapper .main-form.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .main-form.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .main-form.Register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .main-form.Register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.main-form h2{
    text-align: center;
    color: #162938;
    font-size: 2em;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border-bottom:2px solid #162938;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-weight: 500;
    pointer-events: none;
    color: #162938;
    font-size: 1em;
    transition: .5s;

}
.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -5px;
}

.input-box input{
    width:100%;
    height:100%;
    background:transparent;
    outline: none;
    border: none;
    font-size: 1em;
    color: #162938;
    font-weight:500;
    padding: 0 35px 0 5px;

}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forget{
    font-size: .9em;
    color: #162938;
    font-weight: 600;
    margin: -15px  0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input{
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forget a{
    color: #162938;
    text-decoration: none;
}

.remember-forget a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline:none;
    cursor: pointer;
    border-radius:6px;
    color: #fff;
    font-weight: 600;

}
.register-user{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 600;
    margin: 25px 0 10px;
}
.register-user p a {
    color: #162938;
    font-weight:600;
    text-decoration: none;
}

.register-user p a:hover{
    text-decoration: underline;
}
